*.sw?
*.o
*.in
.deps
config.h
!config.h.in
depcomp
pg_top
pg_top.1
sigdesc.h
tags

*.BAK

# cmake

/_builds

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar.Z
